extends layout

block content

  h1 静謐なる蔵書の世界へ
  p ここは地元図書館。Mozilla Developer Network の教本をもとに、静かに佇む Express ウェブサイトです。

  h1 蔵書の記録

  p この図書館には、下記の記録が静かに並んでいます:

  ul
    li #[strong 書籍総数:] !{book_count}
    li #[strong 蔵書数:] !{book_instance_count}
    li #[strong 利用可能な蔵書:] !{book_instance_available_count}
    li #[strong 著者数:] !{author_count}
    li #[strong ジャンル数:] !{genre_count}
